---
import Badge from "@/components/astro/Badge.astro";
import ClickableCard from "@/components/astro/Card/ClickableCard.astro";
import { PAGE_SIZE } from "@/consts";
import PageLayout from "@/layouts/PageLayout.astro";
import EventCard from "@/components/astro/Card/EventCard.astro";
import Pagination from "@/components/astro/Pagination.astro";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPublishedEvents = (
    await getCollection("events", ({ data }) => {
      // In production, filter out drafts.
      return import.meta.env.MODE !== "production" || data.draft === false;
    })
  ).sort((a, b) => b.data.eventStart.valueOf() - a.data.eventStart.valueOf());

  return paginate(allPublishedEvents, {
    pageSize: PAGE_SIZE,
  });
};

interface Props {
  page: Page<CollectionEntry<"events">>;
}

const { page } = Astro.props;

const pageTitle = "Our latest events";
const pageDescription =
  "Explore upcoming and past events organized by our community.";
---

<PageLayout title={pageTitle} description={pageDescription}>
  <header class="flex flex-col items-center justify-center py-16">
    <Badge
      variant={"secondary"}
      size={"sm"}
      class="font-mono uppercase tracking-widest text-xs mb-3 border border-border/50"
    >
      Events Archive
    </Badge>
    <h1
      class="font-sans text-5xl md:text-7xl font-medium tracking-tighter pt-4 text-center max-w-4xl leading-tight"
    >
      Explore our latest events
    </h1>
  </header>
  <section class="mb-24">
    <div class="flex flex-col gap-6 mb-12">
      {
        page.data.map((event) => {
          return (
            <ClickableCard
              href={`/events/${event.id}/`}
              class="group bg-secondary text-secondary-foreground rounded-2xl border border-border/50 hover:border-primary/50 transition-all overflow-hidden"
            >
              <EventCard {...event} />
            </ClickableCard>
          );
        })
      }
    </div>
    <div class="flex justify-center mt-16">
      <Pagination
        url={page.url}
        class="font-mono text-sm uppercase tracking-widest"
      />
    </div>
  </section>
</PageLayout>
